<div ng-controller="EnterspeedSelectNodeController as vm" class="umb-linkpicker">

    <umb-editor-view>

        <umb-editor-header name="model.title"
                           name-locked="true"
                           hide-alias="true"
                           hide-icon="true"
                           hide-description="true">
        </umb-editor-header>

        <umb-editor-container class="block-form">
            <umb-box>
                <umb-box-content>
                    <div class="umb-control-group">
                        <h5>Include everything</h5>
                        <umb-checkbox model="vm.includeEverything"
                                      text="Include all {{vm.contentType}} nodes"
                                      input-id="includeEverything">
                        </umb-checkbox>
                    </div>
                    <div class="umb-control-group" ng-if="!vm.includeEverything">
                        <h5>Descendants</h5>
                        <umb-checkbox model="vm.includeDescendants"
                                      text="Include descendants"
                                      input-id="includeDescendants">
                        </umb-checkbox>
                    </div>

                    <div class="umb-control-group" ng-if="!vm.includeEverything">
                        <h5>Nodes</h5>
                        <div ng-if="vm.contentType == 'content'">
                            <umb-tree section="content"
                                      treealias="content"
                                      hideheader="true"
                                      hideoptions="true"
                                      api="dialogTreeApi"
                                      on-init="onTreeInit()"
                                      enablelistviewexpand="true"
                                      isdialog="true"
                                      enablecheckboxes="true"
                                      id="treePickerContent">
                            </umb-tree>
                        </div>
                        <div ng-if="vm.contentType == 'media'">
                            <umb-tree section="media"
                                      treealias="media"
                                      hideheader="true"
                                      hideoptions="true"
                                      api="dialogTreeApi"
                                      on-init="onTreeInit()"
                                      enablelistviewexpand="true"
                                      isdialog="true"
                                      enablecheckboxes="true"
                                      id="treePickerMedia">
                            </umb-tree>
                        </div>
                        <div ng-if="vm.contentType == 'dictionary'">
                            <umb-tree section="translation"
                                      treealias="dictionary"
                                      hideheader="true"
                                      hideoptions="true"
                                      api="dialogTreeApi"
                                      on-init="onTreeInit()"
                                      enablelistviewexpand="true"
                                      isdialog="true"
                                      enablecheckboxes="true"
                                      id="treePickerDictionary">
                            </umb-tree>
                        </div>
                    </div>

                </umb-box-content>
            </umb-box>
        </umb-editor-container>

        <umb-editor-footer>
            <umb-editor-footer-content-right>
                <umb-button type="button"
                            button-style="link"
                            label-key="general_close"
                            shortcut="esc"
                            action="vm.close()">
                </umb-button>
                <umb-button type="button"
                            button-style="success"
                            label-key="general_submit"
                            state="vm.saveButtonState"
                            action="vm.submit(model)">
                </umb-button>
            </umb-editor-footer-content-right>
        </umb-editor-footer>

    </umb-editor-view>

</div>
