<div ng-app id="enterspeedDashboard" ng-controller="EnterspeedDashboardController as vm" class="enterspeed-dashboard">

    <umb-tabs-nav model="vm.tabs"></umb-tabs-nav>

    <umb-tabs-content>
        <umb-tab id="tab{{tab.id}}" ng-repeat="tab in vm.tabs" rel="{{tab.id}}">
            <div ng-if="tab.id === 'failedJobsTab'">
                <div ng-include="'/App_Plugins/Enterspeed.Dashboard/Dashboard.Sub.Views/failedjobs.view.html'"></div>
            </div>
            <div ng-if="tab.id === 'seedsTab'">
                <div ng-include="'/App_Plugins/Enterspeed.Dashboard/Dashboard.Sub.Views/seed.view.html'"></div>
            </div>
        </umb-tab>
    </umb-tabs-content>
</div>