<div ng-controller="EnterspeedSeedController as vm" class="seed-dashboard">

    <umb-load-indicator ng-if="vm.loadingConfiguration">
    </umb-load-indicator>

    <div ng-if="!vm.runJobsOnServer" class="info-box">
        <strong>Enterspeed jobs will not run on this current server.</strong><br />
        Enterspeed jobs will only run on servers with Umbraco role of <i>Master</i> or <i>Single</i>. Current Umbraco server role is <i>{{vm.serverRole}}</i>.
    </div>

    <div class="seed-dashboard-response" ng-if="vm.seedResponse !== null">
        <h4>Seed Response</h4>
        <div>
            Jobs added: {{vm.seedResponse.jobsAdded}}
        </div>
        <div>
            Content items: {{vm.seedResponse.contentCount}}
        </div>
        <div>
            Dictionary items: {{vm.seedResponse.dictionaryCount}}
        </div>
        <div>
            Media items: {{vm.seedResponse.mediaCount}}
        </div>
    </div>
    <div class="seed-dashboard-text">
        Seeding will queue jobs for all content, media and dictionary item for publish and preview (if configured) within this Umbraco installation. This action can take a while to finish.
    </div>
    <div class="seed-dashboard-content">
        <umb-button action="vm.seed()"
                    type="button"
                    button-style="action"
                    state="vm.seedState"
                    label="Seed"
                    disabled="vm.seedState === 'busy'">
        </umb-button>
    </div>
</div>