<div ng-controller="EnterspeedConfigurationController as vm" class="configuration-dashboard">
    <form name="enterpeedSettingsForm">
        <umb-load-indicator ng-if="vm.loadingConfiguration || vm.buttonState === 'busy'">
        </umb-load-indicator>

        <div class="configuration-dashboard-content" ng-if="!vm.loadingConfiguration">

            <div class="configuration-dashboard-property">
                <label class="custom-tooltip" for="api-key">
                    Enterspeed endpoint *
                    <span class="custom-tooltiptext">The value should be https://api.enterspeed.com</span>
                </label><br />
                <input type="text" id="api-key" class="input-field" ng-model="vm.configuration.baseUrl" placeholder="Enterspeed base url" ng-disabled="vm.buttonState === 'busy' || vm.configuration.configuredFromSettingsFile" />
            </div>
            <div class="configuration-dashboard-property">
                <label class="custom-tooltip" for="media-domain">
                    Media domain
                    <span class="custom-tooltiptext"> Enter a custom domain (can include a path as well) if you want to use another domain than the Umbraco domain for your media files.</span>
                </label><br />
                <input type="text" id="media-domain" class="input-field" ng-model="vm.configuration.mediaDomain" placeholder="Media domain (optional)" ng-disabled="vm.buttonState === 'busy'" />
            </div>
            <div class="configuration-dashboard-property">
                <label class="custom-tooltip" for="api-key">
                    Api key *
                    <span class="custom-tooltiptext">You can find your API key under Settings and Data Source in the <a href="https://app.enterspeed.com/settings/data-sources" target="_blank">Enterspeed App</a></span>
                </label><br />
                <input type="text" id="api-key" class="input-field" ng-model="vm.configuration.apiKey" placeholder="Enterspeed API Key" ng-disabled="vm.buttonState === 'busy' || vm.configuration.configuredFromSettingsFile" />
            </div>
            <div class="configuration-dashboard-property">
                <label class="custom-tooltip" for="preview-api-key">
                    Preview api key
                    <span class="custom-tooltiptext">Create a separate source in the Enterspeed app and provide the API key here.</span>
                </label><br />
                <input type="text" id="preview-api-key" class="input-field" ng-model="vm.configuration.previewApiKey" placeholder="Enterspeed Preview API Key (optional)" ng-disabled="vm.buttonState === 'busy'" />
            </div>

            <umb-button action="vm.saveConfiguration()"
                        type="button"
                        button-style="success"
                        state="vm.configState"
                        label="Save configuration"
                        disabled="vm.buttonState === 'busy' || !vm.configuration.baseUrl || !vm.configuration.apiKey">
            </umb-button>

            <umb-button action="vm.testConnection()"
                        type="button"
                        button-style="primary"
                        state="vm.configState"
                        label="Test connection"
                        disabled="vm.buttonState === 'busy' || !vm.configuration.baseUrl || !vm.configuration.apiKey">
            </umb-button>
        </div>
    </form>
</div>