<button data-element="tree-item-expand" class="umb-tree-item__arrow umb-outline btn-reset" ng-style="{'visibility': node.hasChildren ? 'visible' : 'hidden'}" ng-click="vm.toggleTreeNode(node)">
    <span class="umb-icon" icon="icon-navigation-down">
        <umb-icon icon="{{node.expanded ? 'icon-navigation-down' : 'icon-navigation-right'}}" />
    </span>
</button>
<span class="icon umb-tree-icon sprTree umb-icon" ng-class="node.icon" icon="{{node.icon}}" ng-click="select(node, $event)">
    <umb-icon icon="{{node.icon}}"></umb-icon>
</span>
<span class="umb-tree-item__annotation"></span>
<a class="umb-tree-item__label" ng-click="select(node, $event)">{{node.name}}</a>